.movie{
    background-color:lavender;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,  0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin: 1rem;
    width: 300px;
  }
  
  .movie img {
    max-width: 100%;
  }
  
  .movie-container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-info{
    display: flex;
    padding: 1.5rem; 
    align-items: center;
    justify-content: space-between;
  }
  
  .movie-info h3  {
    margin:0; 
  }
  
  .movie-synopsis {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,  0, 0, 0.1);
    color:black;
    padding: 1rem;
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0; 
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
    overflow: auto; 
    max-height: 100%;
  }
  
  .movie:hover .movie-synopsis{
    transform: translateY(0%); 
  }